In [1]:
import numpy as np
import pandas as pd

In [2]:
categories = ['a', 'b', 'c']
categories

['a', 'b', 'c']

In [3]:
my_list = [-1, -2, -3]
my_list

[-1, -2, -3]

In [4]:
arr = np.array([100, 99, 98])
arr

array([100,  99,  98])

In [5]:
my_dict = {'Item1': 999, 'Item2': 888, 'Item3': 777}
my_dict

{'Item1': 999, 'Item2': 888, 'Item3': 777}

In [7]:
pd.Series(data=my_list)

0   -1
1   -2
2   -3
dtype: int64

In [ ]:
pd.Series(data=categories)

0    a
1    b
2    c
dtype: object

In [9]:
pd.Series(data=my_list, index=categories)

a   -1
b   -2
c   -3
dtype: int64

In [10]:
pd.Series(data=categories, index=my_list)

-1    a
-2    b
-3    c
dtype: object

In [11]:
pd.Series(data=my_list, index=categories, name='My First Series')

a   -1
b   -2
c   -3
Name: My First Series, dtype: int64

In [12]:
pd.Series(data=categories)

0    a
1    b
2    c
dtype: object

In [13]:
arr

array([100,  99,  98])

In [14]:
pd.Series(data=arr)

0    100
1     99
2     98
dtype: int64

In [ ]:
pd.Series(data=arr, index=categories, name='Series with arrays')

a    100
b     99
c     98
Name: Series with arrays, dtype: int64

In [17]:
ser = pd.Series(data=my_dict)
ser

Item1    999
Item2    888
Item3    777
dtype: int64

In [18]:
np.random.seed(101)
df = pd.DataFrame(data=np.random.randn(5, 4), 
                  index=('A', 'B', 'C', 'D', 'E'),
                  columns=('Col1', 'Col2', 'Col3', 'Col4')
                  )
df

       Col1      Col2      Col3      Col4
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [19]:
dict1 = {'Item1': [9, 9, 7, 1], 'Item2': [8, 6, 68, 8], 'Item3': [1, 2, 7, 8]}
dict1

{'Item1': [9, 9, 7, 1], 'Item2': [8, 6, 68, 8], 'Item3': [1, 2, 7, 8]}

In [20]:
df = pd.DataFrame(dict1)
df

   Item1  Item2  Item3
0      9      8      1
1      9      6      2
2      7     68      7
3      1      8      8

In [21]:
np.random.seed(101)
df = pd.DataFrame(data=np.random.randn(10,40))
df

,0,1,2,3,4,5,6,7,8,9,...,30,31,32,33,34,35,36,37,38,39
0,2.706850,0.628133,0.907969,0.503826,0.651118,-0.319318,-0.848077,0.605965,-2.018168,0.740122,...,0.638787,0.329646,-0.497104,-0.754070,-0.943406,0.484752,-0.116773,1.901755,0.238127,1.996652
1,-0.993263,0.196800,-1.136645,0.000366,1.025984,-0.156598,-0.031579,0.649826,2.154846,-0.610259,...,0.187125,-0.732845,-1.382920,1.482495,0.961458,-2.141212,0.992573,1.192241,-1.046780,1.292765
2,-1.467514,-0.494095,-0.162535,0.485809,0.392489,0.221491,-0.855196,1.541990,0.666319,-0.538235,...,0.649148,0.358941,-1.080471,0.902398,0.161781,0.833029,0.975720,-0.388239,0.783316,-0.708954
3,0.586847,-1.621348,0.677535,0.026105,-1.678284,0.333973,-0.532471,2.117727,0.197524,2.302987,...,-0.971393,-1.522333,1.133703,0.528187,0.393461,-0.630507,-1.398290,-0.219311,-0.045676,0.012421
4,0.093628,1.240813,-1.097693,-1.908009,-0.380104,-1.666059,-2.736995,1.522562,0.178009,-0.626805,...,-1.235614,-0.798428,0.754121,-0.772041,-0.034432,0.688408,0.081523,-0.415191,0.053661,-2.115113
5,-0.279510,1.062710,1.752014,0.695547,0.153661,0.167638,-0.765930,0.962299,0.902826,-0.537909,...,-1.029577,-1.524856,-0.854860,1.602816,0.185479,-0.994018,-0.131906,-1.335092,-0.089298,0.698566
6,-1.409126,0.870907,1.585812,0.929658,-0.550876,0.942045,-0.975349,-1.054851,2.165421,-1.267240,...,0.834355,-0.140432,0.119145,0.665715,0.407586,0.807843,-2.736464,-0.985153,-0.155276,-1.013228
7,-1.087436,-2.567767,0.661029,-0.332921,-0.928602,1.715950,-0.468756,0.860097,0.230087,0.618658,...,-0.051203,-0.439128,-1.501041,1.058357,1.854967,0.502250,0.114581,-0.368487,0.459343,0.585513
8,-0.181904,-0.603235,-2.552660,-0.031927,1.407189,0.060971,-1.542393,-0.821110,-1.599171,-2.068836,...,-1.883809,-1.314142,2.601240,-0.612552,-1.714963,1.350046,1.798990,-1.312854,0.033590,-0.220208
9,-0.308472,-0.842066,-0.831162,-0.493941,0.552794,-0.190511,0.231609,0.155412,-0.195703,-0.652119,...,-1.194699,-0.145231,0.013519,-2.156488,-0.494917,0.071770,-1.291559,1.001002,1.669011,1.480148

In [22]:
print(df)

         0         1         2         3         4         5         6   \
0  2.706850  0.628133  0.907969  0.503826  0.651118 -0.319318 -0.848077
1 -0.993263  0.196800 -1.136645  0.000366  1.025984 -0.156598 -0.031579
2 -1.467514 -0.494095 -0.162535  0.485809  0.392489  0.221491 -0.855196
3  0.586847 -1.621348  0.677535  0.026105 -1.678284  0.333973 -0.532471
4  0.093628  1.240813 -1.097693 -1.908009 -0.380104 -1.666059 -2.736995
5 -0.279510  1.062710  1.752014  0.695547  0.153661  0.167638 -0.765930
6 -1.409126  0.870907  1.585812  0.929658 -0.550876  0.942045 -0.975349
7 -1.087436 -2.567767  0.661029 -0.332921 -0.928602  1.715950 -0.468756
8 -0.181904 -0.603235 -2.552660 -0.031927  1.407189  0.060971 -1.542393
9 -0.308472 -0.842066 -0.831162 -0.493941  0.552794 -0.190511  0.231609

         7         8         9   ...        30        31        32        33  \
0  0.605965 -2.018168  0.740122  ...  0.638787  0.329646 -0.497104 -0.754070
1  0.649826  2.154846 -0.610259  ...  0.187125 -0.732845 -1.382920  1.482495
2  1.541990  0.666319 -0.538235  ...  0.649148  0.358941 -1.080471  0.902398
3  2.117727  0.197524  2.302987  ... -0.971393 -1.522333  1.133703  0.528187
4  1.522562  0.178009 -0.626805  ... -1.235614 -0.798428  0.754121 -0.772041
5  0.962299  0.902826 -0.537909  ... -1.029577 -1.524856 -0.854860  1.602816
6 -1.054851  2.165421 -1.267240  ...  0.834355 -0.140432  0.119145  0.665715
7  0.860097  0.230087  0.618658  ... -0.051203 -0.439128 -1.501041  1.058357
8 -0.821110 -1.599171 -2.068836  ... -1.883809 -1.314142  2.601240 -0.612552
9  0.155412 -0.195703 -0.652119  ... -1.194699 -0.145231  0.013519 -2.156488

         34        35        36        37        38        39
0 -0.943406  0.484752 -0.116773  1.901755  0.238127  1.996652
1  0.961458 -2.141212  0.992573  1.192241 -1.046780  1.292765
2  0.161781  0.833029  0.975720 -0.388239  0.783316 -0.708954
3  0.393461 -0.630507 -1.398290 -0.219311 -0.045676  0.012421
4 -0.034432  0.688408  0.081523 -0.415191  0.053661 -2.115113
5  0.185479 -0.994018 -0.131906 -1.335092 -0.089298  0.698566
6  0.407586  0.807843 -2.736464 -0.985153 -0.155276 -1.013228
7  1.854967  0.502250  0.114581 -0.368487  0.459343  0.585513
8 -1.714963  1.350046  1.798990 -1.312854  0.033590 -0.220208
9 -0.494917  0.071770 -1.291559  1.001002  1.669011  1.480148

[10 rows x 40 columns]

In [23]:
df2 = df.copy()
df2

,0,1,2,3,4,5,6,7,8,9,...,30,31,32,33,34,35,36,37,38,39
0,2.706850,0.628133,0.907969,0.503826,0.651118,-0.319318,-0.848077,0.605965,-2.018168,0.740122,...,0.638787,0.329646,-0.497104,-0.754070,-0.943406,0.484752,-0.116773,1.901755,0.238127,1.996652
1,-0.993263,0.196800,-1.136645,0.000366,1.025984,-0.156598,-0.031579,0.649826,2.154846,-0.610259,...,0.187125,-0.732845,-1.382920,1.482495,0.961458,-2.141212,0.992573,1.192241,-1.046780,1.292765
2,-1.467514,-0.494095,-0.162535,0.485809,0.392489,0.221491,-0.855196,1.541990,0.666319,-0.538235,...,0.649148,0.358941,-1.080471,0.902398,0.161781,0.833029,0.975720,-0.388239,0.783316,-0.708954
3,0.586847,-1.621348,0.677535,0.026105,-1.678284,0.333973,-0.532471,2.117727,0.197524,2.302987,...,-0.971393,-1.522333,1.133703,0.528187,0.393461,-0.630507,-1.398290,-0.219311,-0.045676,0.012421
4,0.093628,1.240813,-1.097693,-1.908009,-0.380104,-1.666059,-2.736995,1.522562,0.178009,-0.626805,...,-1.235614,-0.798428,0.754121,-0.772041,-0.034432,0.688408,0.081523,-0.415191,0.053661,-2.115113
5,-0.279510,1.062710,1.752014,0.695547,0.153661,0.167638,-0.765930,0.962299,0.902826,-0.537909,...,-1.029577,-1.524856,-0.854860,1.602816,0.185479,-0.994018,-0.131906,-1.335092,-0.089298,0.698566
6,-1.409126,0.870907,1.585812,0.929658,-0.550876,0.942045,-0.975349,-1.054851,2.165421,-1.267240,...,0.834355,-0.140432,0.119145,0.665715,0.407586,0.807843,-2.736464,-0.985153,-0.155276,-1.013228
7,-1.087436,-2.567767,0.661029,-0.332921,-0.928602,1.715950,-0.468756,0.860097,0.230087,0.618658,...,-0.051203,-0.439128,-1.501041,1.058357,1.854967,0.502250,0.114581,-0.368487,0.459343,0.585513
8,-0.181904,-0.603235,-2.552660,-0.031927,1.407189,0.060971,-1.542393,-0.821110,-1.599171,-2.068836,...,-1.883809,-1.314142,2.601240,-0.612552,-1.714963,1.350046,1.798990,-1.312854,0.033590,-0.220208
9,-0.308472,-0.842066,-0.831162,-0.493941,0.552794,-0.190511,0.231609,0.155412,-0.195703,-0.652119,...,-1.194699,-0.145231,0.013519,-2.156488,-0.494917,0.071770,-1.291559,1.001002,1.669011,1.480148